body {display: flex;
 ;}

nav {display: flex;
margin-top: 20px;
}

#lista {display: flex;
list-style: none;
margin-left: 30px;}

#logo {margin-left: 70px;}

li {margin-left: 50px;
display: flex;}

.bottone1 {display: flex;
position: absolute;
margin-left: 800px;
margin-top: 20px;}
